<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksyun.trade.mapper.KscVoucherDeductMapper">

    <resultMap id="BaseResultMap" type="com.ksyun.trade.entity.KscVoucherDeduct">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="voucherNo" column="voucher_no" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="beforeDeductAmount" column="before_deduct_amount" jdbcType="DECIMAL"/>
            <result property="afterDeductAmount" column="after_deduct_amount" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,voucher_no,
        amount,before_deduct_amount,after_deduct_amount,
        create_time,update_time
    </sql>
</mapper>
